
<div id="light-container" class="rounded-2xl bg-slate-100 bg-opacity-10 m-2 flex-grow flex flex-col p-4 justify-center md:min-w-[744px]"> 

    
    <h2 class="text-white md:text-4xl mb-4 text-2xl text-center mt-4 md:mb-12 md:ml-12 md:mr-12 md:mt-8">Monthly Reading for Aquarius - May 2025</h2>

    
    <p class="text-white text-l md:mb-12 md:ml-12 md:mr-12">As the cosmic waves embrace May, dear Aquarius, you find yourself in the harmonious dance of practical dreams and fertile realities. Spring&#39;s promise of growth is mirrored in your life, urging a patient introspection infused with tangible efforts. The essence of this month is one of integration, where earthy Pentacles ground your airy nature and invite a reevaluation of your choices and fears. With three Major Arcana cards, the universe sends a clarion call: this is a time of narrative shifts and vital lessons, a month woven with opportunities for deep alignment with your true self.</p>

    
    <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-6 mb-10">
        
        
        <div class="relative w-[420px] h-[420px]">
            
                <a href="#card-section-1">
                    <img src="/assets/cards/Pentacles07.jpg" id="card-1" class="absolute top-[164px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-2">
                    <img src="/assets/cards/15-TheDevil.jpg" id="card-2" class="absolute top-[164px] left-[130px] md:left-[110px] rotate-90 w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-3">
                    <img src="/assets/cards/Pentacles08.jpg" id="card-3" class="absolute top-[40px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-4">
                    <img src="/assets/cards/Wands06.jpg" id="card-4" class="absolute top-[290px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-5">
                    <img src="/assets/cards/Swords07.jpg" id="card-5" class="absolute top-[164px] left-[50px]  md:left-[10px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-6">
                    <img src="/assets/cards/Swords02.jpg" id="card-6" class="absolute top-[164px] left-[210px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-7">
                    <img src="/assets/cards/Pentacles13.jpg" id="card-7" class="absolute top-[310px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-8">
                    <img src="/assets/cards/03-TheEmpress.jpg" id="card-8" class="absolute top-[210px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-9">
                    <img src="/assets/cards/Swords08.jpg" id="card-9" class="absolute top-[110px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-10">
                    <img src="/assets/cards/05-TheHierophant.jpg" id="card-10" class="absolute top-[10px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
        </div>

        
        <div class="flex flex-col justify-center items-start bg-slate-800 bg-opacity-60 p-4 rounded-xl text-white h-[220px]">
            <ul class="space-y-2">
                <li>Major Arcana: 3</li>
                <li>Minor Arcana: 7</li>
                <li>Most Common Suit: Pentacles, Swords</li>
                <li>Most Common Rank: Sevens, Eights</li>
            </ul>
        </div>

        
    </div>
    <div id="text_reading">
        
        <h3 id="card-section-1" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🪴 1. Seven of Pentacles – Current Situation
        </h3>
        <div id="general-meaning-0" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%AA%B4&#43;1.&#43;Seven&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Current&#43;Situation&id=0"
                hx-target="#general-meaning-0"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Ah, the Seven of Pentacles, where the seeds of past labor stretch upward, yearning for the sun. Right now, you sit patiently, assessing the garden of your work and decisions. Though progress might seem slow, remember that good things germinate beneath the surface before they bloom. Embrace this as a well-deserved pause, a chance to calibrate your vision with the sprouts before leaping into new ventures. In this space, nurture and reflection are your allies.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles07.jpg" class="absolute top-[40px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-2" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🐍 2. The Devil – Challenges
        </h3>
        <div id="general-meaning-1" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%90%8D&#43;2.&#43;The&#43;Devil&#43;%E2%80%93&#43;Challenges&id=1"
                hx-target="#general-meaning-1"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Beware the seductive embrace of The Devil, a shadow nudging you towards indulgence and material desires. This card of enchantments warns against losing yourself in the shimmer of instant gratifications or unhealthy attachments. It’s a time to face what binds you, to shine a light on those chains and assess if they truly serve your higher paths. Within challenge lies the potential for liberation, dear Aquarius. Confront these darker urges with honesty and a heart ready to release.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/15-TheDevil.jpg" class="absolute top-[40px] left-[24px] rotate-90 w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-3" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           ⚒️ 3. Eight of Pentacles – Strengths
        </h3>
        <div id="general-meaning-2" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%E2%9A%92%EF%B8%8F&#43;3.&#43;Eight&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Strengths&id=2"
                hx-target="#general-meaning-2"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">In your hands, the tools of the Eight of Pentacles transform perseverance into art. This card blesses your month with diligence and an exquisite craftsmanship, urging you to refine and master your passionate pursuits. Remember, dear child of the stars, this isn&#39;t mere labor but a labor of love — where each repetition, each detail, brings you closer to mastery. Your skills are not just honed, but celebrated, reminding you that dedication is its own reward.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles08.jpg" class="absolute top-[12px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-4" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🏆 4. Six of Wands – What to Focus On
        </h3>
        <div id="general-meaning-3" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8F%86&#43;4.&#43;Six&#43;of&#43;Wands&#43;%E2%80%93&#43;What&#43;to&#43;Focus&#43;On&id=3"
                hx-target="#general-meaning-3"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The Six of Wands rides in triumphantly, urging your focus towards recognition and success. Celebrate your victories, no matter how small, and let them illuminate your path forward. This is about building self-confidence, allowing the world to see your light. However, seek balance; basking too long in applause may detour progress. Rejoice in your accomplishments with gratitude, using them as stepping stones to even greater triumphs.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Wands06.jpg" class="absolute top-[68px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-5" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🕵️ 5. Seven of Swords – Past Energy
        </h3>
        <div id="general-meaning-4" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%95%B5%EF%B8%8F&#43;5.&#43;Seven&#43;of&#43;Swords&#43;%E2%80%93&#43;Past&#43;Energy&id=4"
                hx-target="#general-meaning-4"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">A specter of the past, the cunning Seven of Swords, lingers with tales of discretion and stealth. You have navigated through webs of secrecy or situations requiring stealthy maneuvers. Lessons of strategic thinking and the burdens of hidden actions influenced your movements. Let these memories serve as reminders of resilience and the importance of integrity — moving you to operate openly and truthfully going forward.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords07.jpg" class="absolute top-[40px] left-[1px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-6" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           ⚖️ 6. Two of Swords – Near Future
        </h3>
        <div id="general-meaning-5" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%E2%9A%96%EF%B8%8F&#43;6.&#43;Two&#43;of&#43;Swords&#43;%E2%80%93&#43;Near&#43;Future&id=5"
                hx-target="#general-meaning-5"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Ahead lies the Two of Swords, presenting a crossroads shrouded in veils of indecision. Choices weigh upon you, asking for clarity and balance. Embrace this period as a moment to pause, reflect, and connect with your inner wisdom. Decisions made now will chart the course for future journeys, thus they demand focus and intuition. Remove the blindfold and trust in your capacity to choose with insight and fairness.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords02.jpg" class="absolute top-[40px] left-[48px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-7" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🌿 7. Queen of Pentacles – Advice
        </h3>
        <div id="general-meaning-6" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%BF&#43;7.&#43;Queen&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Advice&id=6"
                hx-target="#general-meaning-6"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The Queen of Pentacles, a nurturing soul wrapped in earthly comfort, offers wisdom this month. Her counsel speaks of creating abundance through care, both for yourself and others. Balance your material aspirations with emotional generosity, allowing your home and heart to become places of warmth. Her serene presence reminds you to ground your energy and cherish the simple joys of life, cultivating both prosperity and peace within your approach.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles13.jpg" class="absolute top-[77px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-8" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🌼 8. The Empress – External Influences
        </h3>
        <div id="general-meaning-7" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%BC&#43;8.&#43;The&#43;Empress&#43;%E2%80%93&#43;External&#43;Influences&id=7"
                hx-target="#general-meaning-7"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Ah, The Empress surrounds you with her fertile energies, indicating that your environment is ripe with supportive growth and creativity. Her presence invites collaboration and may herald assistance from nurturing figures or opportune circumstances. Bask in this lush support, using it to birth new ideas and ventures. Apron strings of abundance weave around you, encouraging you to embrace the open arms of Mother Nature herself.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/03-TheEmpress.jpg" class="absolute top-[52px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-9" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🔓 9. Eight of Swords – Hopes and Fears
        </h3>
        <div id="general-meaning-8" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%94%93&#43;9.&#43;Eight&#43;of&#43;Swords&#43;%E2%80%93&#43;Hopes&#43;and&#43;Fears&id=8"
                hx-target="#general-meaning-8"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Hope and fear collide in the Eight of Swords, entangled in self-imposed limitations. There’s a yearning for freedom coupled with a fear of the unknown. Untangle yourself from these bonds of insecurity by recognizing that many constraints exist only within the mind. Liberation is but a perspective shift away — trust in the power of your thoughts to reshape your reality.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords08.jpg" class="absolute top-[27px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-10" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           📜 10. The Hierophant – Likely Outcome
        </h3>
        <div id="general-meaning-9" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%93%9C&#43;10.&#43;The&#43;Hierophant&#43;%E2%80%93&#43;Likely&#43;Outcome&id=9"
                hx-target="#general-meaning-9"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">With The Hierophant as your guiding light, May concludes in a note of introspection and deeper understanding. This wise teacher card suggests that guidance — whether from tradition, mentors, or inner wisdom — will lead you to greater spiritual insight. A connection to the ancestral or educational realms might appear, calling for growth through understanding life’s conventions and the secrets they hold. Embrace this as an opportunity to integrate lessons old and new, informing your future steps with stability and wisdom.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/05-TheHierophant.jpg" class="absolute top-[2px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
    
        <h3 class="text-white text-xl md:ml-12 md:mr-12 mb-6">🌟 Madame’s Final Whisper</h3>
        <p class="text-white md:ml-12 md:mr-12 mb-12">Oh, radiant Aquarius, you traverse May with an intricate weave of earth and spirit. Let go of those murky shadows tempting your resolve, emerging with clarity from the fog of indecision. Trust in your capacity to balance sincere labor with indulgence, to stitch your ambitions with careful needlework and a nurturing touch. Know that fears are shadows on the wall, their power dissolved by your inner light. Walk this path with conscious footsteps, as the universe harkens you to the truth of who you are and who you are becoming. Embrace the wisdom of your journey, dear one, with the balance and freedom of a soul well-aligned.</p>
   </div>

</div>
