
<div id="light-container" class="rounded-2xl w-full bg-slate-100 bg-opacity-10 m-2 flex-grow flex flex-col p-4 justify-center md:min-w-[744px]"> 

    
    <h2 class="text-white md:text-4xl mb-4 text-2xl text-center mt-4 md:mb-12 md:ml-12 md:mr-12 md:mt-8">Monthly Reading for Cancer - May 2025</h2>

    
    <p class="text-white text-l md:mb-12 md:ml-12 md:mr-12">Oh sweet Cancer, May drapes a veil of intrigue and resolve over your tender heart! While the gentle rhythm of life&#39;s current may seem turbulent at times, the dance of the swords is strong upon your path, beckoning clarity and determination. Here in the realm of Eight Minor Arcana, the Swords dominate, adding a sharp clarity to your month, slicing through the fog of ambiguity. With The Devil whispering from the shadows and The Moon casting ethereal light upon your journey, the stage is set for a lively tango between courage and caution. There lies a story of transformation, where intellect battles illusion and ambition rides the winds of change.

Your spread is woven with collaboration and potential, dear empathetic one, through pentacles rooting you in shared efforts, while the regal visage of the King of Wands foresees visions of bold authority emerging. Watch as the Ace of Swords cuts through doubt, undoing knots with its clear, bright edge. Though The Moon calls the sirens of uncertainty and the somber notes of the Ten of Swords hum quietly, remember, dear Cancer, it is through these that the light brighter emerges, a beacon for your discerning heart.

🃏 Cards 1–10</p>

    
    <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-6 mb-10">
        
        
        <div class="relative w-[420px] h-[420px]">
            
                <a href="#card-section-1">
                    <img src="/assets/cards/Pentacles03.jpg" id="card-1" class="absolute top-[164px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-2">
                    <img src="/assets/cards/Swords13.jpg" id="card-2" class="absolute top-[164px] left-[130px] md:left-[110px] rotate-90 w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-3">
                    <img src="/assets/cards/Swords01.jpg" id="card-3" class="absolute top-[40px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-4">
                    <img src="/assets/cards/15-TheDevil.jpg" id="card-4" class="absolute top-[290px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-5">
                    <img src="/assets/cards/Cups12.jpg" id="card-5" class="absolute top-[164px] left-[50px]  md:left-[10px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-6">
                    <img src="/assets/cards/Wands14.jpg" id="card-6" class="absolute top-[164px] left-[210px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-7">
                    <img src="/assets/cards/Swords10.jpg" id="card-7" class="absolute top-[310px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-8">
                    <img src="/assets/cards/18-TheMoon.jpg" id="card-8" class="absolute top-[210px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-9">
                    <img src="/assets/cards/Pentacles05.jpg" id="card-9" class="absolute top-[110px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-10">
                    <img src="/assets/cards/Swords02.jpg" id="card-10" class="absolute top-[10px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
        </div>

        
        <div class="flex flex-col justify-center items-start bg-slate-800 bg-opacity-60 p-4 rounded-xl text-white h-[220px]">
            <ul class="space-y-2">
                <li>Major Arcana: 2</li>
                <li>Minor Arcana: 8</li>
                <li>Most Common Suit: Swords</li>
                <li>Most Common Rank: Mixed Ranks</li>
            </ul>
        </div>

        
    </div>
    <div id="text_reading">
        
        <h3 id="card-section-1" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🧱 1. Three of Pentacles – Current Situation
        </h3>
        <div id="general-meaning-0" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%A7%B1&#43;1.&#43;Three&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Current&#43;Situation&id=0"
                hx-target="#general-meaning-0"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Ah, the respectful dance of collaboration! The Three of Pentacles emerges, speaking of teamwork, shared goals, and crafty hands working together building proverbial castles in May&#39;s canvas. It&#39;s a time where your contributions are valued and seen, dear Cancer, within projects or group endeavors. Your skill, alongside those of others, yields fruits not just from the labor of your hands but the synergy birthed from shared vision. With stability underfoot, feel the satisfaction in watching plans take shape. Others may seek your knowledge or expertise, showering gratitude as each brick of effort builds the dream. Embrace this harmonious choreography of collaboration; it is a symphony to your nurturing soul.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles03.jpg" class="absolute top-[40px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-2" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🗡️ 2. Queen of Swords – Challenges
        </h3>
        <div id="general-meaning-1" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%97%A1%EF%B8%8F&#43;2.&#43;Queen&#43;of&#43;Swords&#43;%E2%80%93&#43;Challenges&id=1"
                hx-target="#general-meaning-1"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The distinguished Queen of Swords floats in her throne with an aura of truth and cool judgment that may challenge you this month. Her presence suggests a struggle with impartiality, decisiveness, or having to uphold boundaries. You may be called to harness her clarity to slice through illusions—a task demanding your logic, not just your intuition. Remember, she asks for eloquence and directness, a firm standard that may not come naturally to your gentle heart. Be wary of becoming too detached, though; balance her sharp edge with your own warmth. It’s a call to clear vision and fair judgment—one that may not feel comfortable but is necessary for navigating the emotional currents.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords13.jpg" class="absolute top-[40px] left-[24px] rotate-90 w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-3" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🌟 3. Ace of Swords – Strengths
        </h3>
        <div id="general-meaning-2" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%9F&#43;3.&#43;Ace&#43;of&#43;Swords&#43;%E2%80%93&#43;Strengths&id=2"
                hx-target="#general-meaning-2"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Behold, the Ace of Swords, a herald of intellect and fresh ideas, graces your realm of strengths, dear one. Here we find the impulse of clarity and truth vibrating through your spirit, signifying beginnings of mental breakthroughs or a surge of inspiration. Your mind is sharp this May, ready to slash through confusion with this sword’s shining blade. Bright ideas might illuminate even your darkest corners, emboldening you to think boldly and communicate truths once hesitated upon. This energy empowers you to cut away old doubts, embracing honesty in a way that liberates your cautious nature. Rejoice in this mental fortitude, for your perceptions shall guide you to uncharted horizons with effortless grace.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords01.jpg" class="absolute top-[12px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-4" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           😈 4. The Devil – What to Focus On
        </h3>
        <div id="general-meaning-3" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%98%88&#43;4.&#43;The&#43;Devil&#43;%E2%80%93&#43;What&#43;to&#43;Focus&#43;On&id=3"
                hx-target="#general-meaning-3"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Deep in the shadows dances The Devil, a card not feared, but embraced as a guide to shine light on indulgences and bindings. Your task, most thoughtful Cancer, is to identify and release the habits or attachments that hinder your growth—those chains you may not know you wear. May asks you to peer within, confronting temptations or material obsessions and acknowledging where illusions may charm you into complacency. Recognize these chains, be they self-doubt or excess, as inviting yet empty. By focusing on this necessary confrontation, liberation becomes possible, a rebirth of your discerning heart and freedom to the soul. Through this, release the binds, and dance in the light of your newfound clarity.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/15-TheDevil.jpg" class="absolute top-[68px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-5" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🗺️ 5. Knight of Cups – Past Energy
        </h3>
        <div id="general-meaning-4" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%97%BA%EF%B8%8F&#43;5.&#43;Knight&#43;of&#43;Cups&#43;%E2%80%93&#43;Past&#43;Energy&id=4"
                hx-target="#general-meaning-4"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">From the gentle tide of the past rides the Knight of Cups, poetic and idealistic, urging you to reflect on moments swathed in emotion and dreams. He recalls a recent chapter where your heart led the charge, perhaps pursuing goals tainted with romance or creativity. These experiences influence your present, teaching of emotions fully felt and vulnerabilities gracefully exposed. This Knight speaks of moments when following intuition or listening to one’s emotional compass seemed absolute. May these softer lessons be the balm to any sharp edges encountered this month. Embrace his tender influence as part of your journey, reminding you to savor beauty and emotion while moving onward with clear-eyed determination.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Cups12.jpg" class="absolute top-[40px] left-[1px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-6" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🔥 6. King of Wands – Near Future
        </h3>
        <div id="general-meaning-5" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%94%A5&#43;6.&#43;King&#43;of&#43;Wands&#43;%E2%80%93&#43;Near&#43;Future&id=5"
                hx-target="#general-meaning-5"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Eminent and fiery, the King of Wands strides into your near future, heralding enthusiasm and inspirational leadership. He carries the blazing torch of vision, inviting you to transcend mere plans and embody charismatic mastery. Opportunities arise to assert yourself with confidence and creativity, channeling passion into purposeful endeavors. Whether in personal projects or motivating others, let your inner fire kindle and spread warmth. The King signifies not just leadership but the courage to bring ideas alive — a vivid call to action under the spotlight he so graciously provides. Stand tall and assured, let his energy imbue your path with authority and flourishing confidence.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Wands14.jpg" class="absolute top-[40px] left-[48px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-7" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🔪 7. Ten of Swords – Advice
        </h3>
        <div id="general-meaning-6" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%94%AA&#43;7.&#43;Ten&#43;of&#43;Swords&#43;%E2%80%93&#43;Advice&id=6"
                hx-target="#general-meaning-6"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Heavy yet enlightening, the Ten of Swords offers introspective wisdom advising release and closure. Often seen as a culmination of suffering, this card is your gentle prompt to forego what no longer serves. Though its image is stark, its message is liberating—an invitation to step away from perceived finality into beginnings anew. May requires resilience, accepting the stillness after storms, acknowledging what must end for your spirit to breathe freely again. The swords fall away, their lesson in finality shared, allowing your vulnerability to lead into transformation. Embrace endings as they arise, for every dusk holds the promise of a dawn waiting to be embraced.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords10.jpg" class="absolute top-[77px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-8" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🌕 8. The Moon – External Influences
        </h3>
        <div id="general-meaning-7" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%95&#43;8.&#43;The&#43;Moon&#43;%E2%80%93&#43;External&#43;Influences&id=7"
                hx-target="#general-meaning-7"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The elusive glow of The Moon casts an ethereal influence from without, hinting at illusions, deep instincts, and subconscious whispers guiding the month. Look warily to surrounding events and people, dear Cancer; things may not be as they seem, with the hazy silver light masking truths and intentions. Trust your intuition—your greatest navigator—in these mist-cloaked scenes, for clarity in external situations may ebb and flow. It&#39;s a time when dreams and symbols hold strong messages, asking for inner contemplation rather than outward assertion. While uncertainties abound, they beckon introspection, urging you to find wisdom within the shadows cast theatrically around you.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/18-TheMoon.jpg" class="absolute top-[52px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-9" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🏚️ 9. Five of Pentacles – Hopes and Fears
        </h3>
        <div id="general-meaning-8" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8F%9A%EF%B8%8F&#43;9.&#43;Five&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Hopes&#43;and&#43;Fears&id=8"
                hx-target="#general-meaning-8"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Ah, the Five of Pentacles, a card tender with feelings of lack or exclusion, which peers into both hope and fear alike. This echoes the deeply human concern of being unsupported or left in cold uncertainty, raising worries over personal worth and belonging. Yet, within this card lies a glimmer of camaraderie—a hopeful promise that shivering hands may link, warmth shared amidst adversity. In trusting others, allowing vulnerability, fears may transform, awakening empathy in places once desolate. Thus, balance these apprehensions, for connection is often the light piercing through perceived isolation, reminding you that aid and compassion lie closer than you imagine.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles05.jpg" class="absolute top-[27px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-10" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           ⚔️ 10. Two of Swords – Likely Outcome
        </h3>
        <div id="general-meaning-9" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%E2%9A%94%EF%B8%8F&#43;10.&#43;Two&#43;of&#43;Swords&#43;%E2%80%93&#43;Likely&#43;Outcome&id=9"
                hx-target="#general-meaning-9"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Balanced on edge, the Two of Swords presides over your future, a harbinger of decisions awaiting birth. Held within this crossroads is choice, wrapped in temporary stasis, where calm contemplation waits at the threshold. May encourages you to weigh options, protectively considering every angle before stepping forward. Choices may feel daunting, yet it offers the gift of mental harmony and fair judgment—the very themes entwining your monthly tale. Whether through negotiation or internal discourse, trust a balanced approach will resolve impasses, revealing truths once obscured. Peace follows, a gentle resolution to the mind’s tempest, sowing seeds for clarity and equanimity.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords02.jpg" class="absolute top-[2px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
    
        <h3 class="text-white text-xl md:ml-12 md:mr-12 mb-6">🌟 Madame’s Final Whisper</h3>
        <p class="text-white md:ml-12 md:mr-12 mb-12">Ah, dear Cancer, as your journey through May&#39;s unfolding tapestry becomes clear, know that courage and discernment both anchor and lift you through shifting shadows. The dance of swords invites an embrace of change, where every cut turns an opportunity for rebirth, bathed in the moon&#39;s luminescent whispers. Let courageous leadership embolden your steps, even as quieter fears tug at your heartstrings. In facing endings, remember it is but the prelude to the melody of beginnings—the natural rhythm awaiting its time. You carry the strength of the sea within, ebbing and flowing, a cycle unbroken and ever turning. Rest assured, sweet soul, by harnessing the light within, brighter horizons welcome your steadfast path.</p>
   </div>

</div>
