
<div id="light-container" class="rounded-2xl bg-slate-100 bg-opacity-10 w-full mr-0 ml-2 mt-2 mb-4 md:mb-2 flex-grow flex flex-col p-4 justify-center md:min-w-[714px]"> 

    
    <h2 class="text-white md:text-4xl mb-4 text-2xl text-center mt-4 md:mb-12 md:ml-12 md:mr-12 md:mt-8">Monthly Reading for Capricorn - May 2025</h2>

    
    <p id="summary" class="text-white text-l md:mb-12 md:ml-12 md:mr-12">In May, Capricorn engages in introspection and personal evolution, guided by the Hermit and Judgement. Emotional Cups create connections, with balance as a central theme. Cosmic forces urge self-discovery, offering clarity and harmonization within the dance of everyday life.</p>

    
    <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-6 mb-10">
        
        
        <div class="relative w-[420px] h-[420px]">
            
                <a href="#card-section-1">
                    <img src="/assets/cards/09-TheHermit.jpg" id="card-1" class="absolute top-[164px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-2">
                    <img src="/assets/cards/Cups07.jpg" id="card-2" class="absolute top-[164px] left-[130px] md:left-[110px] rotate-90 w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-3">
                    <img src="/assets/cards/Cups02.jpg" id="card-3" class="absolute top-[40px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-4">
                    <img src="/assets/cards/10-WheelOfFortune.jpg" id="card-4" class="absolute top-[290px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-5">
                    <img src="/assets/cards/Swords02.jpg" id="card-5" class="absolute top-[164px] left-[50px]  md:left-[10px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-6">
                    <img src="/assets/cards/Pentacles08.jpg" id="card-6" class="absolute top-[164px] left-[210px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-7">
                    <img src="/assets/cards/Wands03.jpg" id="card-7" class="absolute top-[310px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-8">
                    <img src="/assets/cards/15-TheDevil.jpg" id="card-8" class="absolute top-[210px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-9">
                    <img src="/assets/cards/Swords04.jpg" id="card-9" class="absolute top-[110px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-10">
                    <img src="/assets/cards/20-Judgement.jpg" id="card-10" class="absolute top-[10px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
        </div>

        
        <div class="flex flex-col justify-center items-start bg-slate-800 bg-opacity-60 p-4 rounded-xl text-white h-[220px]">
            <ul class="space-y-2">
                <li>Major Arcana: 4</li>
                <li>Minor Arcana: 6</li>
                <li>Most Common Suit: Cups, Swords</li>
                <li>Most Common Rank: Twos</li>
            </ul>
        </div>

        
    </div>
    <div id="text_reading">
        
        <h3 id="card-section-1" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🌀 1. The Hermit – Current Situation
        </h3>
        <div id="general-meaning-0" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%80&#43;1.&#43;The&#43;Hermit&#43;%E2%80%93&#43;Current&#43;Situation&id=0"
                hx-target="#general-meaning-0"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">As you find yourself cloaked in the Hermit’s gentle illumination, a retreat into self-discovery beckons you, Capricorn. This card reflects a month where quiet solitude shall be more of a teacher than the bustling world outside. Seek solace in serene corners, whether they be material or mental, and let them cradle your soul. In this sacred silence, the core of who you are vibrates softly with truth, illuminating your path in the softest of hues. Forging connections with your inner wisdom, you&#39;ll find that guidance comes like whispers in a library of knowledge. The Hermit&#39;s lantern lights the way, carving out a road of introspection that prepares you for coming transformations.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/09-TheHermit.jpg" class="absolute top-[40px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-2" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           💭 2. Seven of Cups – Challenges
        </h3>
        <div id="general-meaning-1" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%92%AD&#43;2.&#43;Seven&#43;of&#43;Cups&#43;%E2%80%93&#43;Challenges&id=1"
                hx-target="#general-meaning-1"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">A splendid masquerade of choices lays at your feet, each cup representing a dazzling yet deceptive promise. The Seven of Cups draws you into a realm of wonder and confusion, urging you to discern fantasy from reality. This month, a cloud of indecision might hang heavy, tempting you with dreams that are beautiful but not always viable. Beware of illusions that lead you astray and foster discernment with the choices you face. It’s a time to peer beyond the glitter and glamour, using logic as a lantern to slice through the deceptive mist. Clarity will come through patience and intuition, dear Capricorn, dispelling shadows of uncertainty.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Cups07.jpg" class="absolute top-[40px] left-[24px] rotate-90 w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-3" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           💕 3. Two of Cups – Strengths
        </h3>
        <div id="general-meaning-2" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%92%95&#43;3.&#43;Two&#43;of&#43;Cups&#43;%E2%80%93&#43;Strengths&id=2"
                hx-target="#general-meaning-2"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Union and harmony flow from the chalices of the Two of Cups, gracing you with a gift of partnership and balance. This is your strength, a profound ability for connection that brings warmth to your dealings this month. Whether through romantic endeavors, friendships, or creative collaborations, the energy of reciprocity paints your interactions with mutual respect and deep affinity. Cherish the bonds that support and uplift you—there is immense power in shared intent and mutual growth. Recognize that in this harmonious alliance, lies the strength to mend, grow, and flourish.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Cups02.jpg" class="absolute top-[12px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-4" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🔄 4. Wheel of Fortune – What to Focus On
        </h3>
        <div id="general-meaning-3" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%94%84&#43;4.&#43;Wheel&#43;of&#43;Fortune&#43;%E2%80%93&#43;What&#43;to&#43;Focus&#43;On&id=3"
                hx-target="#general-meaning-3"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Destiny spins its wheel as you stand at the cusp of transformation, Capricorn. The Wheel of Fortune asks you to embrace the cycles of life, surrendering to fate while also directing your own narrative. Trust in the process and adapt to the changes whirling around you with grace and confidence. When fortune manifests with its unpredictability, see it as an opportunity to evolve and redirect your course. Keeping an open mind will help you seize those fortuitous moments, turning potential hurdles into a springboard for success. All is cyclical, and as the wheel turns, your adaptability will be your greatest asset.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/10-WheelOfFortune.jpg" class="absolute top-[68px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-5" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           ⚔️ 5. Two of Swords – Past Energy
        </h3>
        <div id="general-meaning-4" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%E2%9A%94%EF%B8%8F&#43;5.&#43;Two&#43;of&#43;Swords&#43;%E2%80%93&#43;Past&#43;Energy&id=4"
                hx-target="#general-meaning-4"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">From recent months, you bring with you the energy of the Two of Swords: a past dominated by the stillness of decision-making that may not yet have resolved itself. Caught in the duality, you may have felt torn between intellect and emotion, waiting patiently for clarity. This energy, while now receding, provided a firm foundation for present insights. Now, those blindfolded moments of contemplation transition into a deeper understanding that will guide you through new challenges. Balance achieved in the past becomes your fulcrum for future actions.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords02.jpg" class="absolute top-[40px] left-[1px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-6" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🔨 6. Eight of Pentacles – Near Future
        </h3>
        <div id="general-meaning-5" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%94%A8&#43;6.&#43;Eight&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Near&#43;Future&id=5"
                hx-target="#general-meaning-5"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Patience and dedication will soon become your guiding forces. The Eight of Pentacles shines its earthy wisdom upon your craftsmanship, heralding a period rich in diligent work and the honing of skills. In the near future, your hands and mind labor together, creating something of lasting virtue. Whether in career, a personal project, or self-improvement, the key to triumph lies in steady, attentive effort. Celebrate progress, and let each small step fuel your determination. The rewards may not be immediate, but their promise gleams like gold beneath the surface.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles08.jpg" class="absolute top-[40px] left-[48px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-7" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🌍 7. Three of Wands – Advice
        </h3>
        <div id="general-meaning-6" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%8D&#43;7.&#43;Three&#43;of&#43;Wands&#43;%E2%80%93&#43;Advice&id=6"
                hx-target="#general-meaning-6"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Standing on the shore, gazing towards distant horizons, the Three of Wands ushers in a call for expansive thinking. This card invites you to cast your nets wide, to think globally about your paths and possibilities. Embrace the spirit of exploration and foresight; look beyond the immediate and dare to dream big. With your groundwork solidifying under the Eight of Pentacles, now is the time to advance your grand visions. Seek new opportunities, align with expansive energies, and remain open to collaborations that expand your world. Patience will be your compass as you chart these new waters, trusting in what lies beyond the visible horizon.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Wands03.jpg" class="absolute top-[77px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-8" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🔥 8. The Devil – External Influences
        </h3>
        <div id="general-meaning-7" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%94%A5&#43;8.&#43;The&#43;Devil&#43;%E2%80%93&#43;External&#43;Influences&id=7"
                hx-target="#general-meaning-7"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Rather airy wings whisper that temptation and enticements linger in your external surroundings this month. The Devil represents the enchantments of material pleasures and binding commitments that have sown roots around you. Remain vigilant about influences that seek to ensnare or detour your grander plans, reminding you to stay rooted in your values. It&#39;s a time to challenge limiting beliefs and shake free from any shackles that hold you back. Understanding these external forces will free you to choose your path rather than stumble blindly. As such, the power of liberation and self-awareness will be your champions.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/15-TheDevil.jpg" class="absolute top-[52px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-9" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           💤 9. Four of Swords – Hopes and Fears
        </h3>
        <div id="general-meaning-8" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%92%A4&#43;9.&#43;Four&#43;of&#43;Swords&#43;%E2%80%93&#43;Hopes&#43;and&#43;Fears&id=8"
                hx-target="#general-meaning-8"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Heavily intertwined, your hopes for rest dance with the fear of withdrawal embodied by the Four of Swords. You yearn for peace, chasing after a serene refuge amid the chaos. Yet, there lies apprehension in solitude—the worry of missing out, of becoming stilled. Trust that rest is not idleness, but a rekindling flame that shall spark renewed vigor. Embrace the solace and reflection, as in these quiet moments, fears dissolve and wisdom awaits.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords04.jpg" class="absolute top-[27px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-10" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🎵 10. Judgement – Likely Outcome
        </h3>
        <div id="general-meaning-9" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8E%B5&#43;10.&#43;Judgement&#43;%E2%80%93&#43;Likely&#43;Outcome&id=9"
                hx-target="#general-meaning-9"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">As May spins to a close, Judgement heralds a spiritual awakening, a renewal that shakes the old foundations loose. Like a gentle crescendo leading to a powerful symphony, it calls for you to rise above, transformed and enlightened by your journey. Through self-assessment and the embracing of your true calling, this card symbolizes the emergence of clarity and purpose. The echoes of past actions reach a resolution, quilting together your story with lessons learned. Welcome this rebirth, where forgiveness interweaves with motion, bringing liberation. Stand ready to respond to this spiritual summons, and you will blaze forward, reborn with clarity and intention.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/20-Judgement.jpg" class="absolute top-[2px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
    
        <h3 class="text-white text-xl md:ml-12 md:mr-12 mb-6">🌟 Madame’s Final Whisper</h3>
        <p id="final_whisper" class="text-white md:ml-12 md:mr-12 mb-12">Capricorn, within your reading&#39;s shadows and light, strength gently gleams. Reflect, dance with fortune&#39;s wheel, and embrace renewal. Judgement invites awakening, offering clarity and peace. Navigate life&#39;s dance with grace, supported by your inner strength.</p>
   </div>

</div>
