
<div id="light-container" class="rounded-2xl w-full bg-slate-100 bg-opacity-10 m-2 flex-grow flex flex-col p-4 justify-center md:min-w-[744px]"> 

    
    <h2 class="text-white md:text-4xl mb-4 text-2xl text-center mt-4 md:mb-12 md:ml-12 md:mr-12 md:mt-8">Monthly Reading for Leo - May 2025</h2>

    
    <p class="text-white text-l md:mb-12 md:ml-12 md:mr-12">In the heart of May, dear Leo, you find yourself amidst a celestial dance, woven with enigmatic whispers of destiny and powerful strides toward self-discovery. Five majestic Major Arcana cards herald a month of profound transformation, where the cosmos suggests not a gentle breeze but a tumultuous yet rewarding storm. The presence of both The Hermit and Death hint at the shedding of old layers, inviting rebirth. It is as if the universe presents you with an intricate symphony of finality and beginnings. Here, the energy of the Tens, resplendent in their fullness, beckons you towards emotional and material abundance, while the diligent Earth of Pentacles seeks patience amidst change. Bask in this time as the stars remind you of the balance between introspection and action, guiding you through fiery trials to emerge renewed.</p>

    
    <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-6 mb-10">
        
        
        <div class="relative w-[420px] h-[420px]">
            
                <a href="#card-section-1">
                    <img src="/assets/cards/09-TheHermit.jpg" id="card-1" class="absolute top-[164px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-2">
                    <img src="/assets/cards/13-Death.jpg" id="card-2" class="absolute top-[164px] left-[130px] md:left-[110px] rotate-90 w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-3">
                    <img src="/assets/cards/04-TheEmperor.jpg" id="card-3" class="absolute top-[40px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-4">
                    <img src="/assets/cards/Wands12.jpg" id="card-4" class="absolute top-[290px] left-[130px] md:left-[110px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-5">
                    <img src="/assets/cards/Swords01.jpg" id="card-5" class="absolute top-[164px] left-[50px]  md:left-[10px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-6">
                    <img src="/assets/cards/Pentacles07.jpg" id="card-6" class="absolute top-[164px] left-[210px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-7">
                    <img src="/assets/cards/Cups10.jpg" id="card-7" class="absolute top-[310px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-8">
                    <img src="/assets/cards/Pentacles10.jpg" id="card-8" class="absolute top-[210px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-9">
                    <img src="/assets/cards/10-WheelOfFortune.jpg" id="card-9" class="absolute top-[110px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-10">
                    <img src="/assets/cards/08-Strength.jpg" id="card-10" class="absolute top-[10px] left-[328px] md:left-[348px] w-12 h-18 md:w-16 md:h-24 hover:scale-125 hover:z-30" />
                </a>
            
        </div>

        
        <div class="flex flex-col justify-center items-start bg-slate-800 bg-opacity-60 p-4 rounded-xl text-white h-[220px]">
            <ul class="space-y-2">
                <li>Major Arcana: 5</li>
                <li>Minor Arcana: 5</li>
                <li>Most Common Suit: Pentacles</li>
                <li>Most Common Rank: Tens</li>
            </ul>
        </div>

        
    </div>
    <div id="text_reading">
        
        <h3 id="card-section-1" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🕯️ 1. The Hermit – Current Situation
        </h3>
        <div id="general-meaning-0" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%95%AF%EF%B8%8F&#43;1.&#43;The&#43;Hermit&#43;%E2%80%93&#43;Current&#43;Situation&id=0"
                hx-target="#general-meaning-0"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">In the quiet stillness of solitude, the lantern of The Hermit shines bright, casting light upon your inner world as May begins, dear Leo. This card finds you in a reflective state, seeking wisdom far beyond the ordinary hustle of life. Your search is about understanding life&#39;s deeper truths, possibly signaling a temporary retreat from the outward madness to reconnect with your inner sage. Trust in this solitude as a friend that offers clarity and grants you mental fortitude for the journey ahead.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/09-TheHermit.jpg" class="absolute top-[40px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-2" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🍂 2. Death – Challenges
        </h3>
        <div id="general-meaning-1" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8D%82&#43;2.&#43;Death&#43;%E2%80%93&#43;Challenges&id=1"
                hx-target="#general-meaning-1"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Ah, noble Leo, Death arrives not as a harbinger of fear but as the great transformer in disguise, urging you to gracefully release what&#39;s no longer serving you. This challenge can be daunting, for transformation is accompanied by the tender grief of letting go. Embrace the natural ebbing away of old situations or patterns, knowing the end is but a doorway to rebirth. Consider Death as an ally, clearing shadows to make way for the light of new beginnings. It is in releasing that you free yourself to grow as the phoenix from your ashes.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/13-Death.jpg" class="absolute top-[40px] left-[24px] rotate-90 w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-3" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           👑 3. The Emperor – Strengths
        </h3>
        <div id="general-meaning-2" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%91%91&#43;3.&#43;The&#43;Emperor&#43;%E2%80%93&#43;Strengths&id=2"
                hx-target="#general-meaning-2"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Within your domain, The Emperor bestows upon you the strength of structure and authority, empowering you to govern with wisdom and clarity. Assertive and commanding, your natural leadership propels you forward, creating order where chaos attempts to reside. Channel this energy to build solid foundations, attracted by your magnetic charisma and strategic insight. Acknowledge this sense of control as your steadfast ally in overcoming the transitions ahead.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/04-TheEmperor.jpg" class="absolute top-[12px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-4" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🔥 4. Knight of Wands – What to Focus On
        </h3>
        <div id="general-meaning-3" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%94%A5&#43;4.&#43;Knight&#43;of&#43;Wands&#43;%E2%80%93&#43;What&#43;to&#43;Focus&#43;On&id=3"
                hx-target="#general-meaning-3"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The fiery Knight of Wands gallops in with inspiration and daring, urging you not to stand idle in this transformative month. Focus on harnessing your innate passion, driving forward with creative initiatives. This energy calls for bold action and fearless pursuit of dreams, encouraging you to think on your feet. Yet, remain aware – the Knight&#39;s speed may lead to impulsiveness, so ensure your enthusiasm is matched with careful plans. A spark is within you, destined to kindle if only given room to breathe.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Wands12.jpg" class="absolute top-[68px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-5" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           💭 5. Ace of Swords – Past Energy
        </h3>
        <div id="general-meaning-4" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%92%AD&#43;5.&#43;Ace&#43;of&#43;Swords&#43;%E2%80%93&#43;Past&#43;Energy&id=4"
                hx-target="#general-meaning-4"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">From the archives of your past comes the Ace of Swords, a recent epiphany or truth that sliced through confusion. This card reflects a breakthrough of sharp intellect that has shaped your current path, suggesting you&#39;ve already embraced new ideas or resolved past uncertainties. Carry this clarity forth, as it surrounds your endeavors with the blade of honesty and realization. Let this insight fuel the decisions you face, knowing it was the catalyst that shifted you towards deeper awareness.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords01.jpg" class="absolute top-[40px] left-[1px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-6" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🌱 6. Seven of Pentacles – Near Future
        </h3>
        <div id="general-meaning-5" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%B1&#43;6.&#43;Seven&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Near&#43;Future&id=5"
                hx-target="#general-meaning-5"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Into the garden of your future walks the Seven of Pentacles, a symbol of cultivation and patient waiting. As May progresses, you’ll find yourself reflecting on the seeds you’ve sown, assessing growth and carefully nurturing your ambitions. This time invites you to pause and evaluate the harvest to ensure it aligns with your broader vision. Trust that patient endurance will soon reveal the nourishing fruits of your labor, cultivating not only crops but the wisdom of discernment.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles07.jpg" class="absolute top-[40px] left-[48px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-7" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🏰 7. Ten of Cups – Advice
        </h3>
        <div id="general-meaning-6" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8F%B0&#43;7.&#43;Ten&#43;of&#43;Cups&#43;%E2%80%93&#43;Advice&id=6"
                hx-target="#general-meaning-6"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">As advice, the Ten of Cups envisions a canvas of joy and emotional fulfillment, colored with harmonious relationships and abundant love. Raise your gaze from life&#39;s trials to the horizon of possibility, cherishing moments with loved ones and reveling in shared happiness. Seek out emotional connections that uplift and sustain, clinging not to conflict but to compassion. Let this idyllic vision steer your actions, nurturing bonds that provide a wellspring of support through any tempest.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Cups10.jpg" class="absolute top-[77px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-8" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🌳 8. Ten of Pentacles – External Influences
        </h3>
        <div id="general-meaning-7" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%B3&#43;8.&#43;Ten&#43;of&#43;Pentacles&#43;%E2%80%93&#43;External&#43;Influences&id=7"
                hx-target="#general-meaning-7"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">In your surrounding world, the stately Ten of Pentacles upholds tradition, prosperity, and legacy. It suggests that benefits may arise from established familial or communal networks, offering stability and societal support. Consider this card as the roots that anchor you during storms, providing timely counsel and resources. The material and familial abundance around you should be a comforting reinforcement as you navigate transformative times.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles10.jpg" class="absolute top-[52px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-9" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🎡 9. Wheel of Fortune – Hopes and Fears
        </h3>
        <div id="general-meaning-8" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8E%A1&#43;9.&#43;Wheel&#43;of&#43;Fortune&#43;%E2%80%93&#43;Hopes&#43;and&#43;Fears&id=8"
                hx-target="#general-meaning-8"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The Wheel of Fortune spins with fated potential, embodying life&#39;s cycles that awaken both hope and fear within your fiery heart. It signals a change in fortune that you may yearn for or dread, a reminder of life&#39;s unpredictability and the serendipity of new chances. Embrace it as an emblem of fate&#39;s benevolence, for even in uncertainty, opportunity abounds. Let it remind you to dance with life&#39;s rhythms, embracing the turns as part of your heroic saga.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/10-WheelOfFortune.jpg" class="absolute top-[27px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-10" class="text-white text-xl md:ml-12 md:mr-12 mb-2">
           🦁 10. Strength – Likely Outcome
        </h3>
        <div id="general-meaning-9" class="mb-2 md:ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%A6%81&#43;10.&#43;Strength&#43;%E2%80%93&#43;Likely&#43;Outcome&id=9"
                hx-target="#general-meaning-9"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between md:ml-12 md:mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">With the tender fierceness of the lion, Strength closes the narrative with poetic resonance, assuring you that facing life&#39;s challenges with patience and inner calm returns you to power. This outcome suggests a period where inner courage and compassionate resolve guide you gracefully through turmoil. Like the sun rising over a dark horizon, let this card remind you that true might arises from gentleness and the quiet persistence to overcome any adversity. You are perfectly poised to triumph over all that the month unveils.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/08-Strength.jpg" class="absolute top-[2px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
    
        <h3 class="text-white text-xl md:ml-12 md:mr-12 mb-6">🌟 Madame’s Final Whisper</h3>
        <p class="text-white md:ml-12 md:mr-12 mb-12">As we part ways, my dear Leo, inhale the essence of change this month delivers, bearing both the excitement of the new and the release of the old. Just as the storm clouds must part for sunlight to bless the land, so too will your transformations lead to unimagined clarity and strength. Embrace your dual nature, resilient yet gentle, as a foundation against fear. The whispers of fate encourage you to stand firmly in your truth, followed closely by love and wisdom&#39;s abundant call. Do remember, beneath the cosmos&#39; vast canopy, you are both a guiding star and a mighty force.</p>
   </div>

</div>
