
<div id="light-container" class="rounded-2xl bg-slate-100 bg-opacity-10 m-2 flex-grow flex flex-col p-4 justify-center md:min-w-[744px]"> 

    
    <h2 class="text-white text-4xl text-center ml-12 mr-12 mb-12 mt-8">Monthly Reading for Pisces - May 2025</h2>

    
    <p class="text-white text-l mb-12 ml-12 mr-12">🔮 Ah, dear Pisces, May 2025 unfolds like a lush garden rich with seed and bloom, where your soul dives deep and dances upon the soil of prosperity and contemplation. With two powerful Major Arcana illuminating transformative thresholds, you find yourself standing at a juncture where past wisdom and potential futures intertwine. The pull of earthy Pentacles is strong, guiding you to ground your dreams amid tangible realities, while a flicker of fiery Wands offers the spark of inspiration to fuel your journey. As you navigate these waters, remember that the ecstasy of creation is often mirrored by the soul&#39;s clamor for security. Balance both, and let your intuition lead the way.</p>

    
    <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-6 mb-10">
        
        
        <div class="relative w-[420px] h-[420px]">
            
                <a href="#card-section-1">
                    <img src="/assets/cards/Pentacles09.jpg" id="card-1" class="absolute top-[164px] left-[110px] w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-2">
                    <img src="/assets/cards/Swords14.jpg" id="card-2" class="absolute top-[164px] left-[110px] rotate-90 w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-3">
                    <img src="/assets/cards/16-TheTower.jpg" id="card-3" class="absolute top-[40px] left-[110px] w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-4">
                    <img src="/assets/cards/Pentacles05.jpg" id="card-4" class="absolute top-[290px] left-[110px] w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-5">
                    <img src="/assets/cards/Pentacles14.jpg" id="card-5" class="absolute top-[164px] left-[10px] w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-6">
                    <img src="/assets/cards/Pentacles04.jpg" id="card-6" class="absolute top-[164px] left-[210px] w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-7">
                    <img src="/assets/cards/Wands13.jpg" id="card-7" class="absolute top-[310px] left-[348px] w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-8">
                    <img src="/assets/cards/Cups08.jpg" id="card-8" class="absolute top-[210px] left-[348px] w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-9">
                    <img src="/assets/cards/00-TheFool.jpg" id="card-9" class="absolute top-[110px] left-[348px] w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
                <a href="#card-section-10">
                    <img src="/assets/cards/Wands11.jpg" id="card-10" class="absolute top-[10px] left-[348px] w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            
        </div>

        
        <div class="flex flex-col justify-center items-start bg-slate-800 bg-opacity-60 p-4 rounded-xl text-white h-[220px]">
            <ul class="space-y-2">
                <li>Major Arcana: 2</li>
                <li>Minor Arcana: 8</li>
                <li>Most Common Suit: Pentacles</li>
                <li>Most Common Rank: Kings</li>
            </ul>
        </div>

        
    </div>
    <div id="text_reading">
        
        <h3 id="card-section-1" class="text-white text-xl ml-12 mr-12 mb-2">
           🌀 1. Nine of Pentacles – Current Situation
        </h3>
        <div id="general-meaning-0" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%80&#43;1.&#43;Nine&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Current&#43;Situation&id=0"
                hx-target="#general-meaning-0"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">As you step into May, the Nine of Pentacles envelops you with the glow of independence, a comforting reminder of accomplishments ripened and nurtured with care. This card signifies a time of enjoying the fruits of your labor, calling you to relish in the abundance you&#39;ve cultivated. Allow yourself the luxury of pausing to appreciate the beauty around you, as financial security and self-reliance take center stage. Yet, be mindful not to isolate yourself in this garden of plenty; open your heart as you would deem fit. Here lies the invitation to savor freedom while recognizing its roots in shared experiences and connections.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles09.jpg" class="absolute top-[40px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-2" class="text-white text-xl ml-12 mr-12 mb-2">
           🗡️ 2. King of Swords – Challenges
        </h3>
        <div id="general-meaning-1" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%97%A1%EF%B8%8F&#43;2.&#43;King&#43;of&#43;Swords&#43;%E2%80%93&#43;Challenges&id=1"
                hx-target="#general-meaning-1"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The King of Swords introduces an intellectual discipline, a challenge to wield truth and logic without losing the warmth of compassion. This raises questions of judicious communication and leadership, prompting you to cut through confusion with clarity. Yet, remember to soften steely resolve with kindness, lest the sword of reason, sharp and unbiased, severs hearts as well as obstacles. Your challenge this month is to lead not just with intellect but with wisdom. Balance your sharp insight with empathy, ensuring that understanding is not sacrificed at the altar of progress.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Swords14.jpg" class="absolute top-[40px] left-[24px] rotate-90 w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-3" class="text-white text-xl ml-12 mr-12 mb-2">
           ⚡ 3. The Tower – Strengths
        </h3>
        <div id="general-meaning-2" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%E2%9A%A1&#43;3.&#43;The&#43;Tower&#43;%E2%80%93&#43;Strengths&id=2"
                hx-target="#general-meaning-2"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Under the influence of The Tower, your strength lies in an unexpected ability to embrace upheaval and transformation. This formidable archetype encourages you to find liberation in dismantling old structures, creating space for something more authentic to emerge. Let the lightning strike illuminate your path as you turn chaos into creative clarity. You are adept at forging anew from the ashes, resilient and bold in your pursuit of truth. Welcome this power, for it is through such seismic shifts that enlightenment is born.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/16-TheTower.jpg" class="absolute top-[12px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-4" class="text-white text-xl ml-12 mr-12 mb-2">
           💸 4. Five of Pentacles – What to Focus On
        </h3>
        <div id="general-meaning-3" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%92%B8&#43;4.&#43;Five&#43;of&#43;Pentacles&#43;%E2%80%93&#43;What&#43;to&#43;Focus&#43;On&id=3"
                hx-target="#general-meaning-3"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The Five of Pentacles whispers of trials and scarcity, urging your focus on matters of resource and support. Perhaps you feel the chill of uncertainty, whether financial, emotional, or spiritual. It serves as a gentle nudge to seek refuge in community and faith, redirecting concerns into constructive action. Share your burdens, dear Pisces, and let others&#39; warmth sustain during life&#39;s frosty moments. Find solace knowing that growth often follows the hardest winters, for it is here that deeper roots form.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles05.jpg" class="absolute top-[68px] left-[24px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-5" class="text-white text-xl ml-12 mr-12 mb-2">
           🌳 5. King of Pentacles – Past Energy
        </h3>
        <div id="general-meaning-4" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%B3&#43;5.&#43;King&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Past&#43;Energy&id=4"
                hx-target="#general-meaning-4"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">With the King of Pentacles lingering in your recent past, the earthy wisdom of stability and prosperous ambition lights the way forward. His legacy, a wealth of knowledge and success built upon pragmatic action, echoes in your pursuits today. Consider the lessons he imparted — patience, methodical planning, and the nurturing of material comfort. Honor this grounding influence, reflecting on how past foundations pave the road you currently tread. Here lies the foundation of your present abundance.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles14.jpg" class="absolute top-[40px] left-[1px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-6" class="text-white text-xl ml-12 mr-12 mb-2">
           🏦 6. Four of Pentacles – Near Future
        </h3>
        <div id="general-meaning-5" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8F%A6&#43;6.&#43;Four&#43;of&#43;Pentacles&#43;%E2%80%93&#43;Near&#43;Future&id=5"
                hx-target="#general-meaning-5"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The Four of Pentacles suggests cautiousness in your immediate future, as you grapple with security and control. Guarding resources tightly may offer solace, yet beware of letting fear of loss stifle your generosity or ventures. While stability can be a source of comfort, rigidity may trap the flow of opportunity. Open your heart to the idea that release can invite abundance. Hold what you treasure with trust, knowing that true wealth moves freely.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Pentacles04.jpg" class="absolute top-[40px] left-[48px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-7" class="text-white text-xl ml-12 mr-12 mb-2">
           🔥 7. Queen of Wands – Advice
        </h3>
        <div id="general-meaning-6" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%94%A5&#43;7.&#43;Queen&#43;of&#43;Wands&#43;%E2%80%93&#43;Advice&id=6"
                hx-target="#general-meaning-6"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The Queen of Wands encourages you to embrace your dynamic, charismatic nature, sparking inspiration in your endeavors. Her fiery passion invites you to lead with confidence and creativity, channeling your inner vitality into projects and relationships. Follow this beacon of warmth, nurturing your ambitions, as she emboldens you to manifest your desires with grace and determination. Trust your intuition and radiate courage; others are drawn to your vibrant energy, ready to support your vision. The stage is set for you to shine as the noble heart of your own narrative.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Wands13.jpg" class="absolute top-[77px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-8" class="text-white text-xl ml-12 mr-12 mb-2">
           🌊 8. Eight of Cups – External Influences
        </h3>
        <div id="general-meaning-7" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%8A&#43;8.&#43;Eight&#43;of&#43;Cups&#43;%E2%80%93&#43;External&#43;Influences&id=7"
                hx-target="#general-meaning-7"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">As you cast a glance beyond self, the Eight of Cups suggests a gentle pull toward new horizons, inspired by a quest for deeper fulfillment. Influences around you may encourage a turning away from surface joys toward soulful explorations and realizations. External tides beckon reflection and transformation, a search for meaning beyond the tangible successes you&#39;ve achieved. Accept the invitation to temporarily leave behind the known for the mysteries calling you onward. Such voyages, led by intuition, often return you richer in spirit.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Cups08.jpg" class="absolute top-[52px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-9" class="text-white text-xl ml-12 mr-12 mb-2">
           🌱 9. The Fool – Hopes and Fears
        </h3>
        <div id="general-meaning-8" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8C%B1&#43;9.&#43;The&#43;Fool&#43;%E2%80%93&#43;Hopes&#43;and&#43;Fears&id=8"
                hx-target="#general-meaning-8"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">Your hopes and fears are intertwined with the exhilarating, daunting essence of The Fool. Embrace the childlike energy of beginning anew, stepping onto unknown paths with wonder and courage. The Fool challenges you to trust in divine timing and the sometimes whimsical dance of life, reminding you that setbacks are merely ingredients in the dish of growth. This dual presence of fear and hope reflects a willingness to leap but wariness of the unknown. Trust in your instincts, for every ending births a beginning.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/00-TheFool.jpg" class="absolute top-[27px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
        <h3 id="card-section-10" class="text-white text-xl ml-12 mr-12 mb-2">
           🎈 10. Page of Wands – Likely Outcome
        </h3>
        <div id="general-meaning-9" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name=%F0%9F%8E%88&#43;10.&#43;Page&#43;of&#43;Wands&#43;%E2%80%93&#43;Likely&#43;Outcome&id=9"
                hx-target="#general-meaning-9"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">The Page of Wands heralds a month where youthful exuberance and restless curiosity birth new aspirations. This enthusiastic energy propels you towards ventures and ideas ripe with potential, bridging your dreams with actionable paths. The urge to explore is keen, and passion effortlessly pours into each endeavor. Embrace this burgeoning spirit, full of joy and potential as you step forward into adventure. Remember, true mastery often begins with the merriment of discovery, so allow your heart to roam free and wide.</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="/assets/cards/Wands11.jpg" class="absolute top-[2px] left-[76px] w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        
    
        <h3 class="text-white text-xl ml-12 mr-12 mb-6">🌟 Madame’s Final Whisper</h3>
        <p class="text-white ml-12 mr-12 mb-12">Ah, dear Pisces, as you weave through May&#39;s tapestry, remember the quiet alchemy of change — that to hold everything tightly is to limit life&#39;s play. Dare to embrace the unending cycle of beginnings and ends, and let courage light your path through the shadows of fear. Celebrate your resilience, for it is your anchor amid the gusts of change. Balance must be sought between reason and feeling, abundance and freedom, so trust your dance with fate. Rest easy in knowing that you are always learning, always growing, and forever dreaming. May the cosmic currents be gentle, dear seeker, as you unfold another chapter of your storied life. 🌙</p>
   </div>

</div>
