<div id="light-container-admin" class="rounded-2xl bg-slate-100 bg-opacity-10 m-2 mb-4 md:mb-0 flex-grow flex flex-col p-4 justify-center md:min-w-[714px]">
  <h2 class="text-white text-4xl md:text-4xl text-center mb-6 md:mb-12">Welcome to the Admin page</h2>
  
  <p class="text-white text-sm md:text-xl text-center ml-4 md:ml-8 mr-4 md:mr-8 mb-6 md:mb-10">
    Unverified readings: 0
  </p>
  <p class="text-white text-sm md:text-xl text-center ml-4 md:ml-8 mr-4 md:mr-8 mb-6 md:mb-10">
    Sent readings: 0
  </p>     
</div>