<div id="light-container" class="rounded-2xl bg-slate-100 bg-opacity-10 w-full mr-0 ml-2 mt-2 mb-4 md:mb-2 flex-grow flex flex-col p-4 justify-center md:min-w-[714px]">
    <div id="draw-container" class="text-white flex flex-col items-center justify-center">
        <h2 class="text-white text-4xl text-center mb-4">Your Card</h2>
        <img src="/assets/cardback.png" class="w-33 h-48" />
    </div>

    <!-- Centered Button at the Bottom of the Container -->
    <div class="flex justify-center mt-auto">
        <button 
            hx-get="/ask-1-card" 
            hx-target="#draw-container"
            hx-swap="innerHTML" 
            class="p-2 w-48 font-small rounded-lg hover:scale-125 hover:text-yellow-300 transition duration-200 text-white cursor-pointer bg-purple-700">
            Draw Card
        </button>
    </div>
</div>