<div id="light-container" class="relative rounded-2xl bg-slate-100 bg-opacity-10 m-2 mb-4 md:mb-2 flex-grow flex flex-col p-4 justify-center md:min-w-[714px]">
    <div id="draw-container" class="text-white flex flex-col items-center justify-center">
        <h2 class="text-white text-4xl text-center mb-4">Your Card</h2>
        <img src="/assets/cards/CardBacks.jpg" class="w-32 h-48" />
    </div>

    <!-- Centered Button at the Bottom of the Container -->
    <div class="flex justify-center mt-auto">
        <button 
            hx-get="/ask-1-card" 
            hx-target="#draw-container"
            hx-swap="innerHTML" 
            class="p-2 bg-pink-300 w-48 font-small rounded-lg hover:bg-yellow-400 transition duration-200">
            Draw Card
        </button>
    </div>
</div>