<div id="light-container" class="rounded-2xl bg-slate-100 bg-opacity-10 m-2 flex-grow flex flex-row p-4 justify-center"> 

     <!-- Div containing all images aligned to the left with a fixed width of 72 -->
     <div id="cards_spread" class="flex flex-col items-start min-w-72 mt-24 mx-auto">
         
 
         <!-- Card images with centered text inside their divs -->
         <div class="text-white mt-8 mb-2 text-center w-full">
             <span class="text-xl">1.</span><img src="/assets/cards/01-TheMagician.jpg" alt="the magician" class="w-20 h-32 mx-auto" />
         </div>
         <div class="text-white mt-2 mb-2 text-center w-full">
             <span class="text-xl">2.</span><img src="/assets/cards/Pentacles08.jpg" alt="eight of pentacles" class="w-20 h-32 mx-auto" />
         </div>
         <div class="text-white mt-2 mb-2 text-center w-full">
             <span class="text-xl">3.</span><img src="/assets/cards/Cups10.jpg" alt="ten of cups" class="w-20 h-32 mx-auto" />
         </div>
         <div class="text-white mt-2 mb-2 text-center w-full">
             <span class="text-xl">4.</span><img src="/assets/cards/07-TheChariot.jpg" alt="the chariot" class="w-20 h-32 mx-auto" />
         </div>
         <div class="text-white mt-2 mb-2 text-center w-full">
             <span class="text-xl">5.</span><img src="/assets/cards/Pentacles03.jpg" alt="three of pentacles" class="w-20 h-32 mx-auto" />
         </div>
         <div class="text-white mt-2 mb-2 text-center w-full">
             <span class="text-xl">6.</span><img src="/assets/cards/Pentacles11.jpg" alt="page of pentacles" class="w-20 h-32 mx-auto" />
         </div>
         <div class="text-white mt-2 mb-2 text-center w-full">
             <span class="text-xl">7.</span><img src="/assets/cards/Cups14.jpg" alt="king of cups" class="w-20 h-32 mx-auto" />
         </div>
         <div class="text-white mt-2 mb-2 text-center w-full">
             <span class="text-xl">8.</span><img src="/assets/cards/Pentacles09.jpg" alt="nine of pentacles" class="w-20 h-32 mx-auto" />
         </div>
         <div class="text-white mt-2 mb-2 text-center w-full">
             <span class="text-xl">9.</span><img src="/assets/cards/Wands07.jpg" alt="seven of wands" class="w-20 h-32 mx-auto" />
         </div>
         <div class="text-white mt-2 mb-2 text-center w-full">
             <span class="text-xl">10.</span><img src="/assets/cards/Swords02.jpg" alt="two of swords" class="w-20 h-32 mx-auto" />
         </div>
     </div>
     <div id="text_reading">
          <h2 class="text-white text-4xl text-center ml-12 mr-12 mb-12 mt-8">Monthly Reading</h2>
          <p class="text-white text-l mb-12 ml-12 mr-12">{{ .Summary }}</p>
      
          {{ range $index, $card := .Cards }}
          <h3 class="text-white text-xl ml-12 mr-12 mb-6">{{ add $index 1 }}. {{ $card.Title }}</h3>
          <p class="text-white ml-12 mr-12 mb-12">{{ $card.Description }}</p>
          {{ end }}
      
          <h3 class="text-white text-xl ml-12 mr-12 mb-6">🌟 Madame’s Final Whisper</h3>
          <p class="text-white ml-12 mr-12 mb-12">{{ .FinalWhispers }}</p>
     </div>
 </div>
 