<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Tarot</title>
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans bg-cover bg-center bg-local min-h-screen" style="background-image: url('/templates/assets/background.png');">
  <div class="flex flex-row min-h-screen">
    <div class="rounded-2xl bg-stone-950 bg-opacity-50 w-64 m-2 flex flex-col items-center p-4">
      <header class="w-full flex justify-center mb-4">
        <h1 class="text-4xl font-mono text-white text-left ml-0">{{.Title}}</h1>
      </header>
      <a class="text-white mb-4 mt-4 hover:scale-125 hover:text-yellow-100 cursor-pointer">Readings</a>
      <a class="text-white mb-4 mt-4 hover:scale-125 hover:text-yellow-100 cursor-pointer">Numerology Calc.</a>
    </div>

    <div class="rounded-2xl bg-slate-100 bg-opacity-10 m-2 flex-grow flex flex-col p-4">
        <h2 class="text-white text-2xl text-center">API result:</h2>
        <div id="dynamic-content">
        
            </div>
    </div>
</body>
</html>