<div id="light-container" class="rounded-2xl bg-slate-100 bg-opacity-10 m-2 mb-4 md:mb-2 flex-grow flex flex-col p-4 justify-center md:min-w-[714px]">
    <h2 class="text-white text-4xl text-center mb-6">{{ .Month}} - Monthly readings:</h2> 
    <div class="flex items-center justify-center">
        <form 
            id="month-form"
            hx-get="/monthlyreadings"
            hx-trigger="change from:select[name='month']"
            hx-include="#month-form"
            hx-target="#light-container"
            hx-swap="outerHTML"
            class="flex items-center justify-center"
            >
            <input type="hidden" name="year" value="2025">
            <select 
                name="month"
                class="bg-pink-300 text-gray-800 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
            >
                <option value="April" disabled class="text-gray-800">April - {{ .Year }}</option>
                <option value="May" selected>{{ .Month }} - {{ .Year }}</option>
                <option value="June">June - {{ .Year }}</option>
            </select>
            </form>
      </div>
    <div id="container-star-signs" class="grid grid-cols-4 gap-4 justify-items-center mt-4 pb-10 md:pb-0">
        <a 
        hx-get="/reading?sign=aries&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/aries.png" alt="Aries Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Aries</span>
        </a>        
        <a 
        hx-get="/reading?sign=taurus&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/taurus.png" alt="Taurus Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Taurus</span>
        </a>
        <a 
        hx-get="/reading?sign=gemini&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/gemini.png" alt="Gemini Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Gemini</span>
        </a>
        <a 
        hx-get="/reading?sign=cancer&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/cancer.png" alt="Cancer Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Cancer</span>
        </a>
        <a 
        hx-get="/reading?sign=leo&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/leo.png" alt="Leo Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Leo</span>
        </a>
        <a 
        hx-get="/reading?sign=virgo&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/virgo.png" alt="Virgo Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Virgo</span>
        </a>
        <a 
        hx-get="/reading?sign=libra&year=2025&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/libra.png" alt="Libra Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Libra</span>
        </a>
        <a 
        hx-get="/reading?sign=scorpio&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/scorpio.png" alt="Scorpio Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Scorpio</span>
        </a>
        <a 
        hx-get="/reading?sign=sagittarius&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/sagittarius.png" alt="Sagittarius Logo" class="md:w-24 md:h-24 w-18 h-18bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Sagittarius</span>
        </a>
        <a 
        hx-get="/reading?sign=capricorn&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/capricorn.png" alt="Capricorn Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Capricorn</span>
        </a>
        <a 
        hx-get="/reading?sign=aquarius&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
        <img src="/assets/aquarius.png" alt="Aquarius Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
        <span class="mt-2 text-sm font-semibold">Aquarius</span>
            </a>
        <a 
        hx-get="/reading?sign=pisces&year={{ .Year}}&month={{ .Month}}"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/pisces.png" alt="Pisces Logo" class="md:w-24 md:h-24 w-18 h-18 bg-transparent" />
            <span class="mt-2 text-sm font-semibold">Pisces</span>
        </a>        
    </div>
</div>
        