{{ define "reading" }}
<div id="light-container" class="rounded-2xl bg-slate-100 bg-opacity-10 m-2 flex-grow flex flex-col p-4 justify-center md:min-w-[744px]"> 

    <!-- Heading -->
    <h2 class="text-white text-4xl text-center ml-12 mr-12 mb-12 mt-8">Monthly Reading for {{ .Sign}} - {{ .Month}} {{ .Year }}</h2>

    <!-- Summary Section -->
    <p class="text-white text-l mb-12 ml-12 mr-12">{{ .Summary }}</p>

    <!-- Main Layout -->
    <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-6 mb-10">
        
        <!-- Card Spread Layout -->
        <div class="relative w-[420px] h-[420px]">
            {{ range $index, $card := .Cards }}
                <a href="#card-section-{{ add $index 1 }}">
                    <img src="{{ $card.Image }}" id="card-{{ add $index 1 }}" class="absolute {{ $card.Position }} w-16 h-24 hover:scale-125 hover:z-30" />
                </a>
            {{ end }}
        </div>

        <!-- Statistics Layout -->
        <div class="flex flex-col justify-center items-start bg-slate-800 bg-opacity-60 p-4 rounded-xl text-white h-[220px]">
            <ul class="space-y-2">
                <li>Major Arcana: {{ .ReadingStats.MajorArcana }}</li>
                <li>Minor Arcana: {{ .ReadingStats.MinorArcana }}</li>
                <li>Most Common Suit: {{ range $index, $element := .ReadingStats.MostCommonSuit }}{{ if $index }}, {{ end }}{{$element}}{{ end }}</li>
                <li>Most Common Rank: {{ range $index, $element := .ReadingStats.MostCommonRank }}{{ if $index }}, {{ end }}{{$element}}{{ end }}</li>
            </ul>
        </div>

        
    </div>
    <div id="text_reading">
        {{ range $index, $card := .Cards }}
        <h3 id="card-section-{{ add $index 1 }}" class="text-white text-xl ml-12 mr-12 mb-2">
           {{ $card.Title }}
        </h3>
        <div id="general-meaning-{{ $index }}" class="mb-2 ml-12">
            <button 
                class="text-sm text-blue-400 underline hover:text-blue-600"
                hx-get="/card-meaning?name={{ urlquery $card.Title }}&id={{ $index }}"
                hx-target="#general-meaning-{{ $index }}"
                hx-swap="innerHTML"
                hx-on:htmx:afterSettle="Alpine.initTree(this)">
                Show General Card Meaning
            </button>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between ml-12 mr-12 mb-12 gap-8 md:items-start">
            
        <p class="text-white">{{ $card.Description }}</p>
            <div class="relative w-[104px] h-[104px] mt-4 mr-12 md:mt-0">
                <img src="{{ $card.Image }}" class="absolute {{ $card.SmallPosition }} w-4 h-6 w-16 h-24 z-20 z-20 hover:scale-125" />
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm z-10"></div>
                <div class="absolute top-[40px] left-[24px] w-4 h-6 bg-black rounded-sm rotate-90 z-10"></div>
                <div class="absolute top-[12px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>  
                <div class="absolute top-[68px] left-[24px] w-4 h-6 bg-black rounded-sm  z-10"></div>
                <div class="absolute top-[40px] left-[1px] w-4 h-6 bg-black rounded-sm  z-10"></div>       
                <div class="absolute top-[40px] left-[48px] w-4 h-6 bg-black rounded-sm  z-10"></div>      
                <div class="absolute top-[77px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>   
                <div class="absolute top-[52px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div> 
                <div class="absolute top-[27px] left-[76px] w-4 h-6 bg-black rounded-sm z-10"></div>    
                <div class="absolute top-[2px] left-[76px] w-4 h-6 bg-black rounded-sm  z-10"></div>   
            </div>
        </div>      
        {{ end }}
    
        <h3 class="text-white text-xl ml-12 mr-12 mb-6">🌟 Madame’s Final Whisper</h3>
        <p class="text-white ml-12 mr-12 mb-12">{{ .FinalWhispers }}</p>
   </div>

</div>
{{ end }}
