{{ define "reading" }}
<div id="light-container" class="rounded-2xl bg-slate-100 bg-opacity-10 m-2 flex-grow flex flex-col p-4 justify-center"> 

    <!-- Card Spread Container with fixed height -->
    <div class="relative w-[420px] h-[420px] mx-auto bg-sky-200 mb-12 rounded-2xl bg-opacity-50">
        <!-- Card Positions -->
        <a href="#card-section-1">
        <img src="/assets/cards/01-TheMagician.jpg" id="card-1" class="absolute top-[164px] left-[110px] w-16 h-24 z-10 hover:scale-125" />
        </a>
        <a href="#card-section-2">
            <img src="/assets/cards/01-TheMagician.jpg" id="card-2" class="absolute top-[164px] left-[110px] w-16 h-24 rotate-90 z-20 hover:scale-125" />
        </a>
        <a href="#card-section-3">
            <img src="/assets/cards/00-TheFool.jpg" id="card-3" class="absolute top-[40px] left-[110px] w-16 h-24 hover:scale-125" />
        </a>
        <a href="#card-section-4">
            <img src="/assets/cards/01-TheMagician.jpg" id="card-4" class="absolute top-[290px] left-[110px] w-16 h-24 hover:scale-125" />
        </a>
        <a href="#card-section-5">
            <img src="/assets/cards/01-TheMagician.jpg" id="card-5" class="absolute top-[164px] left-[10px] w-16 h-24 hover:scale-125" />
        </a>
        <a href="#card-section-6">
            <img src="/assets/cards/01-TheMagician.jpg" id="card-6" class="absolute top-[164px] left-[210px] w-16 h-24 hover:scale-125" />
        </a>
        <a href="#card-section-7">
            <img src="/assets/cards/01-TheMagician.jpg" id="card-7" class="absolute top-[310px] left-[348px] w-16 h-24 hover:scale-125 hover:z-30" />
        </a>
        <a href="#card-section-8">
            <img src="/assets/cards/01-TheMagician.jpg" id="card-8" class="absolute top-[210px] left-[348px] w-16 h-24 hover:scale-125 hover:z-30" />
        </a>
        <a href="#card-section-9">
            <img src="/assets/cards/01-TheMagician.jpg" id="card-9" class="absolute top-[110px] left-[348px] w-16 h-24 hover:scale-125 hover:z-30" />
        </a>
        <a href="#card-section-10">
            <img src="/assets/cards/01-TheMagician.jpg" id="card-10" class="absolute top-[10px] left-[348px] w-16 h-24 hover:scale-125 hover:z-30" />
        </a>
      </div>
        
    <div id="text_reading">
         <h2 class="text-white text-4xl text-center ml-12 mr-12 mb-12 mt-8">Monthly Reading</h2>
         <p class="text-white text-l mb-12 ml-12 mr-12">{{ .Summary }}</p>
     
         {{ range $index, $card := .Cards }}
         <h3 id="card-section-{{ add $index 1 }}" class="text-white text-xl ml-12 mr-12 mb-6">
            {{ add $index 1 }}. {{ $card.Title }}
          </h3>          
         <p class="text-white ml-12 mr-12 mb-12">{{ $card.Description }}</p>
         {{ end }}
     
         <h3 class="text-white text-xl ml-12 mr-12 mb-6">🌟 Madame’s Final Whisper</h3>
         <p class="text-white ml-12 mr-12 mb-12">{{ .FinalWhispers }}</p>
    </div>
</div>
{{ end }}