<div id="light-container" class="rounded-2xl bg-slate-100 bg-opacity-10 m-2 flex-grow flex flex-col p-4 justify-center">
    <h2 class="text-white text-4xl text-center mb-12">Monthly readings:</h2>
    <div id="container-star-signs" class="grid grid-cols-4 gap-4 justify-items-center mt-4">
        <a 
        hx-get="/reading?sign=aries&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/aries.png" alt="Aries Logo" class="w-24 h-24 transition-transform duration-300 group-hover:scale-110" />
            <span class="mt-2 text-sm font-semibold">Aries</span>
        </a>        
        <a 
        hx-get="/reading?sign=taurus&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/taurus.png" alt="Taurus Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Taurus</span>
        </a>
        <a 
        hx-get="/reading?sign=gemini&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/gemini.png" alt="Gemini Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Gemini</span>
        </a>
        <a 
        hx-get="/reading?sign=cancer&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/cancer.png" alt="Cancer Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Cancer</span>
        </a>
        <a 
        hx-get="/reading?sign=leo&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/leo.png" alt="Leo Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Leo</span>
        </a>
        <a 
        hx-get="/reading?sign=virgo&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/virgo.png" alt="Virgo Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Virgo</span>
        </a>
        <a 
        hx-get="/reading?sign=libra&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/libra.png" alt="Libra Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Libra</span>
        </a>
        <a 
        hx-get="/reading?sign=scorpio&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/scorpio.png" alt="Scorpio Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Scorpio</span>
        </a>
        <a 
        hx-get="/reading?sign=sagittarius&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="innerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/Sagittarius.png" alt="Sagittarius Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Sagittarius</span>
        </a>
        <a 
        hx-get="/reading?sign=capricorn&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/capricorn.png" alt="Capricorn Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Capricorn</span>
        </a>
        <a 
        hx-get="/reading?sign=aquarius&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
        <img src="/assets/aquarius.png" alt="Aquarius Logo" class="w-24 h-24" />
        <span class="mt-2 text-sm font-semibold">Aquarius</span>
            </a>
        <a 
        hx-get="/reading?sign=pisces&year=2025&month=may"
        hx-target="#light-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center text-white hover:text-yellow-200 hover:scale-105 hover:brightness-110 transition-all duration-300 ease-in-out"
        >
            <img src="/assets/pisces.png" alt="Pisces Logo" class="w-24 h-24" />
            <span class="mt-2 text-sm font-semibold">Pisces</span>
        </a>        
    </div>
</div>
        